h1{
    text-align: center;
}
h3{
    text-align: center;
}
.caneca{
    width: 325px
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
}
.a{
    text-align: center;
}
.garrafa{
    width: 325px;
}
.preço{
    color: red;
}
.a1{
    border-color: darkcyan;
}